Source: nautilus-jpgcompress
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: nautilus-jpgcompress
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
	python,
	python-gi,
	python-cairo,
	gir1.2-nautilus-3.0,
	python-nautilus,
	jpegoptim
Description: An extension to compress/optimize jpeg files
 An extension for Nautilus to compress and optimize jpeg files
