Source: nautilus-locompress
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: nautilus-locompress
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
	python,
	python-gi,
	python-cairo,
	gir1.2-nautilus-3.0,
	python-nautilus,
	python-pil
Description: An extension to compress/optimize LibreOffice odt files
 An extension for Nautilus to compress and optimize LibreOffice odt files
