Source: nautilus-reduceimages
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://www.atareao.es

Package: nautilus-reduceimages
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
	python,
	python-gi,
	python-cairo,
	gir1.2-nautilus-3.0,
	python-nautilus,
	python-pil
Description: An extension to reduce image
 An extension for Nautilus to reduce images to share in social networks
